<?xml version="1.0" encoding="utf-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <backgroundcolor>backgroundcolor</backgroundcolor>
    <allowoverlay>no</allowoverlay>
    <include condition="!Skin.HasSetting(GlassRun.2.1)">AutoConfig</include>
    <controls>
       <control type="image">
            <animation effect="zoom" start="110" end="130" center="auto" time="12000" pulse="true" condition="Skin.HasSetting(animatedbg)">Conditional</animation>
            <animation effect="slide" start="-15,-15" end="15,15" time="6000" pulse="true" condition="Skin.HasSetting(animatedbg)">Conditional</animation>
            <fadetime>600</fadetime>
            <texture background="true">$INFO[Container(9000).ListItem.Icon]</texture>
            <aspectratio align="center" aligny="top">scale</aspectratio>
        </control>
        <include>CommonMediaPlayingBackground</include>
        <control type="group">
            <animation type="WindowOpen" reversible="false" condition="![Window.Previous(SettingsCategory.xml) | Window.Previous(systeminfo) | Window.Previous(skinsettings)]">
                <effect type="zoom" start="150" end="100" center="960,540" time="240" tween="cubic" />
                <effect type="fade" end="100" time="240" />
            </animation>
            <animation type="WindowClose" reversible="false" condition="![Window.Next(SettingsCategory.xml) | Window.Next(systeminfo) | Window.Next(skinsettings)]">
                <effect type="fade" start="100" end="0" time="240" />
                <effect type="zoom" start="100" end="130" center="960,540" time="240" tween="cubic" easing="in" />
            </animation>
            <animation effect="zoom" end="91" center="960,360" time="320" tween="cubic" easing="inout" condition="true">Conditional</animation>
            <control type="image">
                        <posy>453</posy>
                        <width>1920</width>
                        <height>225</height>
                        <texture>$VAR[HomeMenuBackVar]</texture>
                        <colordiffuse>$VAR[DialogColorVar]</colordiffuse>
                        <animation effect="zoom" end="125,100" center="960,500" time="320" tween="cubic" easing="inout" condition="true">Conditional</animation>
                    </control>
                    <control type="image">
                        <posy>453</posy>
                        <width>1920</width>
                        <height>225</height>
                        <texture>home/homemenu_back_glow.png</texture>
                        <colordiffuse>$VAR[ColorDiffuseVar]</colordiffuse>
                        <animation effect="zoom" end="125,100" center="960,500" time="320" tween="cubic" easing="inout" condition="true">Conditional</animation>
                        <include>PanelGlowFade</include>
                        <include>Animation_VisibleChange400</include>
                        <visible>!Skin.HasSetting(DisableGlowbar) | [Skin.HasSetting(ExtendedGlowMode) + Skin.HasSetting(glasshome)] | Skin.HasSetting(classichome)</visible>
                    </control>
           <control type="wraplist" id="9000">
            <hitrect x="-538" y="475" w="2400" h="130" />
			<posx>-638</posx>
			<posy>450</posy>
			<width>3069</width>
			<height>225</height>
			<onleft>9000</onleft>
			<onright>9000</onright>
			<ondown>9010</ondown>
			<scrolltime tween="quadratic">300</scrolltime>
			<focusposition>2</focusposition>
			<orientation>horizontal</orientation>
			<animation effect="fade" end="100" time="160">Visible</animation>
			<itemlayout height="225" width="639">
            <control type="label">
                <posx>320</posx>
                <width>639</width>
                <textcolor>$VAR[HomeMenuTextFocusVar5]</textcolor>
                <include>MainMenuLabels</include>
            </control>
        </itemlayout>
        <focusedlayout height="225" width="639">
            <control type="label">
                <posx>320</posx>
                <width>639</width>
                <textcolor>$VAR[MainMenuFontColorVar]</textcolor>
                <include>MainMenuLabels</include>
            </control>
        </focusedlayout>
        <content>
                    <item id="1">
                        <label>480</label>
                        <onclick>SetProperty(BackgroundChoose,1,home)</onclick>
                        <onclick>ActivateWindow(AppearanceSettings)</onclick>
                        <icon>special://skin/background/appearance.jpg</icon>
                        <property name="description">$LOCALIZE[31400]</property>
                    </item>
                    <item id="2">
                        <label>157</label>
                        <onclick>ActivateWindow(VideosSettings)</onclick>
                        <onclick>SetProperty(BackgroundChoose,2,home)</onclick>
                        <icon>special://skin/background/full/videos.jpg</icon>
                        <property name="description">$LOCALIZE[31401]</property>
                    </item>
                    <item id="3">
                        <label>2</label>
                        <onclick>ActivateWindow(MusicSettings)</onclick>
                        <onclick>SetProperty(BackgroundChoose,3,home)</onclick>
                        <icon>special://skin/background/full/music.jpg</icon>
                        <property name="description">$LOCALIZE[31402]</property>
                    </item>
                    <item id="4">
                        <label>1</label>
                        <onclick>ActivateWindow(PicturesSettings)</onclick>
                        <onclick>SetProperty(BackgroundChoose,4,home)</onclick>
                        <icon>special://skin/background/full/pictures.jpg</icon>
                        <property name="description">$LOCALIZE[31403]</property>
                    </item>
                    <item id="5">
                        <label>8</label>
                        <onclick>ActivateWindow(WeatherSettings)</onclick>
                        <onclick>SetProperty(BackgroundChoose,5,home)</onclick>
                        <icon>special://skin/background/weather.jpg</icon>
                        <property name="description">$LOCALIZE[31404]</property>
                    </item>
                    <item id="6">
                        <label>24001</label>
                        <label2>31411</label2>
                        <onclick>ActivateWindow(AddonBrowser)</onclick>
                        <onclick>SetProperty(BackgroundChoose,6,home)</onclick>
                        <icon>special://skin/background/full/programs.jpg</icon>
                        <property name="description">$LOCALIZE[31408]</property>
                    </item>
                    <item id="7">
                        <label>14036</label>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                        <onclick>SetProperty(BackgroundChoose,7,home)</onclick>
                        <icon>special://skin/background/network.jpg</icon>
                        <property name="description">$LOCALIZE[31405]</property>
                    </item>
                    <item id="8">
                        <label>13000</label>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                        <onclick>SetProperty(BackgroundChoose,8,home)</onclick>
                        <icon>special://skin/background/full/system.jpg</icon>
                        <property name="description">$LOCALIZE[31406]</property>
                    </item>
                    <item id="21">
                        <label>31017</label>
                        <label2>31478</label2>
                        <onclick>SetProperty(BackgroundChoose,9,home)</onclick>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                        <icon>special://skin/background/full/livetv.jpg</icon>
                        <property name="description">$LOCALIZE[31016]</property>
                    </item>
                    <item id="10">
                        <label>13281</label>
                        <label2>31413</label2>
                        <onclick>SetProperty(BackgroundChoose,10,home)</onclick>
                        <onclick>ActivateWindow(systeminfo)</onclick>
                        <icon>special://skin/background/systeminfo.jpg</icon>
                        <property name="description">$LOCALIZE[31409]</property>
                    </item>
                    <item id="9">
                        <label>166</label>
                        <onclick>ActivateWindow(skinsettings)</onclick>
                        <icon>special://skin/background/skinsetting.jpg</icon>
                        <property name="description">$LOCALIZE[31407]</property>
                    </item>
                </content>
        </control>
            <control type="image">
                <posx>356</posx>
                <posy>680</posy>
                <width>1210</width>
                <height>250</height>
                <texture>osd/osd_settings_back_glow.png</texture>
                <visible>!Skin.HasSetting(DisableGlowbar)</visible>
                <include>PanelGlowFade</include>
                <colordiffuse>$VAR[ColorDiffuseVar]</colordiffuse>
            </control>
            <control type="image">
                <posx>356</posx>
                <posy>680</posy>
                <width>1210</width>
                <height>250</height>
                <texture>osd/osd_settings_back.png</texture>
                <colordiffuse>$VAR[DialogColorVar]</colordiffuse>
            </control>
            <control type="image">
                <posx>375</posx>
                <posy>707</posy>
                <width>1172</width>
                <height>60</height>
                <texture border="1">osd/osd_settings_buttonnf.png</texture>
            </control>
            <control type="textbox">
                <posx>455</posx>
                <posy>720</posy>
                <width>1000</width>
                <height>210</height>
                <font>Font_Reg30</font>
                <label>$INFO[Container(9000).ListItem.Property(description)]</label>
            </control>
        </control>
        <control type="group">
            <include>Animation_HideBreadCrumbs</include>
            <include>Breadcrumbs_BackBar</include>
            <include>BreadcrumbsContent</include>
            <include>Breadcrumbs_Furniture</include>
        </control>
        <include>Furniture_NowPlayingWidget</include>
    </controls>
</window>
